:root {
    --font-color: rgb(240, 240, 240);
    --dark-background-color: rgba(0, 0, 0, 0.7);
    --lighter-background-color: rgba(0, 0, 0, 0.5);
    --gray-color: #484646;
}

@font-face {
    font-family: "Great Vibes";
    src: url('./greatvibes-regular-webfont.woff2') format('woff2'),
        url('./greatvibes-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: "Courgette";
    src: url('./courgette-regular-webfont.woff2') format('woff2'),
        url('./courgette-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: "Garamond";
    src: url('./ebgaramond-variablefont_wght-webfont.woff2') format('woff2'),
        url('./ebgaramond-variablefont_wght-webfont.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    background: url(./background.jpg);
    background-size: cover;
    background-attachment: fixed;

}

h1 {
    font-size: 6rem;
    font-family: "Great Vibes", sans-serif;
}

h2 {
    font-size: 3.3rem;
    font-family: "Courgette", sans-serif;
}

h3 {
    font-size: 2.5rem;
    font-family: "Courgette", sans-serif;
}

p {
    font-family: "Garamond", sans-serif;
}

header {
    font-size: 2rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-background-color);
}

main {
    font-size: 2rem;
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: minmax(350px, 1000px);
}

.home-wrapper,
.contact-wrapper,
.menu-wrapper {
    margin: 2rem;
    background-color: var(--dark-background-color);
    text-align: center;
    padding: 2rem;
    border: 1px solid var(--gray-color);
    justify-self: center;
    align-self: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>div>p {
    padding: 0.75rem;
}

footer {
    font-size: 2rem;
    line-height: 2rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-background-color);
    border-top: 1px solid black;
}

footer * {
    padding: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--font-color);
}

img {
    width: 28px;
    height: auto;
    display: block;
}



button {
    border: none;
    background-color: transparent;
    padding: 1rem;
    margin: 1rem;
    font-size: 2.5rem;
    color: var(--font-color)
}

.active-button {
    border-bottom: 3px var(--font-color) solid;
    transform: scale(1.2);
}

.map-img {
    width: 90%;
    height: auto;
}

.menu-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem;
}

.menu-wrapper div {
    padding: 0.5rem;
    background-color: var(--lighter-background-color);
    border: 1px solid var(--gray-color);
    border-radius: 10px;
}

.menu-wrapper div>p {
    padding: 0.75rem;
}