:root {
    --font-color: rgb(240, 240, 240);
    --dark-background-color: rgba(0, 0, 0, 0.7);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    background: url(./background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    font-size: 2rem;
    flex-shrink: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-background-color);
}

main {
    font-size: 4rem;
    flex: 1 0 auto;
}

footer {
    font-size: 2rem;
    flex-shrink: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-background-color);
    border-top: 1px solid black;
    margin-top: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--font-color);
}

img {
    width: 32px;
    height: auto;
    display: block;
}